In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import platform
import glob
import visualizing as vi

In [2]:
if platform.system() == 'Darwin': #맥
        plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': #윈도우
        plt.rc('font', family='Malgun Gothic')
elif platform.system() == 'Linux': #리눅스 (구글 콜랩)
        #!wget "https://www.wfonts.com/download/data/2016/06/13/malgun-gothic/malgun.ttf"
        #!mv malgun.ttf /usr/share/fonts/truetype/
        #import matplotlib.font_manager as fm
        #fm._rebuild()
        plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False #한글 폰트 사용시 마이너스 폰트 깨짐 해결
#matplotlib 패키지 한글 깨짐 처리 끝

In [3]:
data = pd.read_csv('./data/dataset_olympics(20211207).csv')
data.head(5)

                     Nation     Olympic  Gold  Silver  Bronze  event_count
0                     Spain  tokyo-2020     3       8       6           36
1                San Marino  tokyo-2020     0       1       2            3
2  United States of America  tokyo-2020    39      41      33           43
3                  Slovakia  tokyo-2020     1       2       1           12
4                     Japan  tokyo-2020    27      13      17           46

In [4]:
data['total'] = data.apply(lambda x: x['Gold'] + x['Silver'] + x['Bronze'], axis=1)
data

,Nation,Olympic,Gold,Silver,Bronze,event_count,total
0,Spain,tokyo-2020,3,8,6,36,17
1,San Marino,tokyo-2020,0,1,2,3,3
2,United States of America,tokyo-2020,39,41,33,43,113
3,Slovakia,tokyo-2020,1,2,1,12,4
4,Japan,tokyo-2020,27,13,17,46,57
...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,0
4005,Chile,athens-1896,0,0,0,1,0
4006,Great Britain,athens-1896,2,3,2,9,7
4007,Switzerland,athens-1896,1,2,0,2,3
4008,MIX,athens-1896,1,0,1,1,2

In [5]:
data['total_rank'] = data.groupby('Olympic')['total'].rank(method='dense', ascending=False).astype('int')
data

,Nation,Olympic,Gold,Silver,Bronze,event_count,total,total_rank
0,Spain,tokyo-2020,3,8,6,36,17,14
1,San Marino,tokyo-2020,0,1,2,3,3,27
2,United States of America,tokyo-2020,39,41,33,43,113,1
3,Slovakia,tokyo-2020,1,2,1,12,4,26
4,Japan,tokyo-2020,27,13,17,46,57,5
...,...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,0,10
4005,Chile,athens-1896,0,0,0,1,0,10
4006,Great Britain,athens-1896,2,3,2,9,7,5
4007,Switzerland,athens-1896,1,2,0,2,3,8
4008,MIX,athens-1896,1,0,1,1,2,9

In [6]:
df_list = []
group = data.groupby('Olympic')
olympics = data['Olympic'].unique().tolist()

for olympic in olympics:
    df = group.get_group(olympic)
    
    df['rank'] = df[['Gold', 'Silver', 'Bronze']].apply(tuple, axis=1).rank(method='dense',ascending=False).astype(int)
    df = df.reset_index(drop=True)
    df_list.append(df)
    
final = pd.concat(df_list, axis=0)
final = final.reset_index(drop=True)
final

C:\Users\82104\anaconda3\envs\bigdata_project\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Nation,Olympic,Gold,Silver,Bronze,event_count,total,total_rank,rank
0,Spain,tokyo-2020,3,8,6,36,17,14,22
1,San Marino,tokyo-2020,0,1,2,3,3,27,61
2,United States of America,tokyo-2020,39,41,33,43,113,1,1
3,Slovakia,tokyo-2020,1,2,1,12,4,26,46
4,Japan,tokyo-2020,27,13,17,46,57,5,3
...,...,...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,0,10,12
4005,Chile,athens-1896,0,0,0,1,0,10,12
4006,Great Britain,athens-1896,2,3,2,9,7,5,5
4007,Switzerland,athens-1896,1,2,0,2,3,8,10
4008,MIX,athens-1896,1,0,1,1,2,9,11

In [7]:
final['year'] = final['Olympic'].apply(lambda x: int(x[-4:]))
final

,Nation,Olympic,Gold,Silver,Bronze,event_count,total,total_rank,rank,year
0,Spain,tokyo-2020,3,8,6,36,17,14,22,2020
1,San Marino,tokyo-2020,0,1,2,3,3,27,61,2020
2,United States of America,tokyo-2020,39,41,33,43,113,1,1,2020
3,Slovakia,tokyo-2020,1,2,1,12,4,26,46,2020
4,Japan,tokyo-2020,27,13,17,46,57,5,3,2020
...,...,...,...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,0,10,12,1896
4005,Chile,athens-1896,0,0,0,1,0,10,12,1896
4006,Great Britain,athens-1896,2,3,2,9,7,5,5,1896
4007,Switzerland,athens-1896,1,2,0,2,3,8,10,1896
4008,MIX,athens-1896,1,0,1,1,2,9,11,1896

In [8]:
cut_mask = final['year'] >= 1994
final = final[cut_mask]
final

,Nation,Olympic,Gold,Silver,Bronze,event_count,total,total_rank,rank,year
0,Spain,tokyo-2020,3,8,6,36,17,14,22,2020
1,San Marino,tokyo-2020,0,1,2,3,3,27,61,2020
2,United States of America,tokyo-2020,39,41,33,43,113,1,1,2020
3,Slovakia,tokyo-2020,1,2,1,12,4,26,46,2020
4,Japan,tokyo-2020,27,13,17,46,57,5,3,2020
...,...,...,...,...,...,...,...,...,...,...
1895,Puerto Rico,lillehammer-1994,0,0,0,1,0,13,23,1994
1896,Chinese Taipei,lillehammer-1994,0,0,0,1,0,13,23,1994
1897,Armenia,lillehammer-1994,0,0,0,1,0,13,23,1994
1898,Trinidad and Tobago,lillehammer-1994,0,0,0,1,0,13,23,1994
1899,American Samoa,lillehammer-1994,0,0,0,1,0,13,23,1994

In [9]:
summer = list(range(1996, 2022, 4))
winter = list(range(1994, 2022, 4))

summer_mask = final['year'].isin(summer)
winter_mask = final['year'].isin(winter)

final['type'] = 'None'
final.loc[summer_mask, 'type'] = 'summer'
final.loc[winter_mask, 'type'] = 'winter'

final

C:\Users\82104\anaconda3\envs\bigdata_project\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\82104\anaconda3\envs\bigdata_project\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Nation,Olympic,Gold,Silver,Bronze,event_count,total,total_rank,rank,year,type
0,Spain,tokyo-2020,3,8,6,36,17,14,22,2020,summer
1,San Marino,tokyo-2020,0,1,2,3,3,27,61,2020,summer
2,United States of America,tokyo-2020,39,41,33,43,113,1,1,2020,summer
3,Slovakia,tokyo-2020,1,2,1,12,4,26,46,2020,summer
4,Japan,tokyo-2020,27,13,17,46,57,5,3,2020,summer
...,...,...,...,...,...,...,...,...,...,...,...
1895,Puerto Rico,lillehammer-1994,0,0,0,1,0,13,23,1994,winter
1896,Chinese Taipei,lillehammer-1994,0,0,0,1,0,13,23,1994,winter
1897,Armenia,lillehammer-1994,0,0,0,1,0,13,23,1994,winter
1898,Trinidad and Tobago,lillehammer-1994,0,0,0,1,0,13,23,1994,winter
1899,American Samoa,lillehammer-1994,0,0,0,1,0,13,23,1994,winter

In [10]:
final.to_csv('./data/olympic.csv', index=False)