In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import platform
import glob
import visualizing as vi

In [2]:
if platform.system() == 'Darwin': #맥
        plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': #윈도우
        plt.rc('font', family='Malgun Gothic')
elif platform.system() == 'Linux': #리눅스 (구글 콜랩)
        #!wget "https://www.wfonts.com/download/data/2016/06/13/malgun-gothic/malgun.ttf"
        #!mv malgun.ttf /usr/share/fonts/truetype/
        #import matplotlib.font_manager as fm
        #fm._rebuild()
        plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False #한글 폰트 사용시 마이너스 폰트 깨짐 해결
#matplotlib 패키지 한글 깨짐 처리 끝

In [3]:
data = pd.read_csv('./data/dataset_olympics(20211207).csv')
data.head(5)

                     Nation     Olympic  Gold  Silver  Bronze  event_count
0                     Spain  tokyo-2020     3       8       6           36
1                San Marino  tokyo-2020     0       1       2            3
2  United States of America  tokyo-2020    39      41      33           43
3                  Slovakia  tokyo-2020     1       2       1           12
4                     Japan  tokyo-2020    27      13      17           46

In [4]:
df_list = []
group = data.groupby('Olympic')
olympics = data['Olympic'].unique().tolist()

for olympic in olympics:
    df = group.get_group(olympic)
    
    df['rank'] = df[['Gold', 'Silver', 'Bronze']].apply(tuple, axis=1).rank(method='dense',ascending=False).astype(int)
    df = df.reset_index(drop=True)
    df_list.append(df)
    
final = pd.concat(df_list, axis=0)
final = final.reset_index(drop=True)
final

C:\Users\82104\anaconda3\envs\bigdata_project\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Nation,Olympic,Gold,Silver,Bronze,event_count,rank
0,Spain,tokyo-2020,3,8,6,36,22
1,San Marino,tokyo-2020,0,1,2,3,61
2,United States of America,tokyo-2020,39,41,33,43,1
3,Slovakia,tokyo-2020,1,2,1,12,46
4,Japan,tokyo-2020,27,13,17,46,3
...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,12
4005,Chile,athens-1896,0,0,0,1,12
4006,Great Britain,athens-1896,2,3,2,9,5
4007,Switzerland,athens-1896,1,2,0,2,10
4008,MIX,athens-1896,1,0,1,1,11

In [5]:
final['year'] = final['Olympic'].apply(lambda x: int(x[-4:]))
final

,Nation,Olympic,Gold,Silver,Bronze,event_count,rank,year
0,Spain,tokyo-2020,3,8,6,36,22,2020
1,San Marino,tokyo-2020,0,1,2,3,61,2020
2,United States of America,tokyo-2020,39,41,33,43,1,2020
3,Slovakia,tokyo-2020,1,2,1,12,46,2020
4,Japan,tokyo-2020,27,13,17,46,3,2020
...,...,...,...,...,...,...,...,...
4004,Sweden,athens-1896,0,0,0,3,12,1896
4005,Chile,athens-1896,0,0,0,1,12,1896
4006,Great Britain,athens-1896,2,3,2,9,5,1896
4007,Switzerland,athens-1896,1,2,0,2,10,1896
4008,MIX,athens-1896,1,0,1,1,11,1896

In [6]:
final.to_csv('./data/olympic.csv', index=False)