In [21]:
import pandas as pd

In [30]:
nation = pd.read_csv('./data/olympic_results.csv')
rio = pd.read_csv('./data/rio_athletes.csv', index_col=0)

In [31]:
nation

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,GOLD,"[('Fatima GALVEZ', 'https://olympics.com/en/at...",False,1,Spain,ES,ESP,NaN,NaN,NaN,NaN
1,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,SILVER,"[('Alessandra PERILLI', 'https://olympics.com/...",False,2,San Marino,SM,SMR,NaN,NaN,NaN,NaN
2,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,BRONZE,"[('Madelynn Ann BERNAU', 'https://olympics.com...",False,3,United States of America,US,USA,NaN,NaN,NaN,NaN
3,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Zuzana STEFECEKOVA', 'https://olympics.com/...",False,4,Slovakia,SK,SVK,NaN,NaN,NaN,NaN
4,Shooting,Trap Mixed Team,tokyo-2020,GameTeam,NaN,"[('Yukie NAKAYAMA', 'https://olympics.com/en/a...",False,5,Japan,JP,JPN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159015,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
159016,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk Mückenbrunn,NaN,IRM
159017,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
159018,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
159019,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [33]:
codes = list(nation['country_3_letter_code'].unique())
code_dict = dict()

for code in codes:
    mask = nation['country_3_letter_code'] == code
    temp = nation[mask]
    nation_name = temp.iloc[0, 8]
    code_dict[code] = nation_name
code_dict['ESP']

'Spain'

In [34]:
def mapping(x):
    try:
        return code_dict[x]
    except:
        return None

In [35]:
rio['Nation'] = rio['nationality'].apply(mapping)
rio

,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,Nation
id,,,,,,,,,,,
736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,Spain
532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,Republic of Korea
435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,Canada
521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,Republic of Moldova
33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,New Zealand
...,...,...,...,...,...,...,...,...,...,...,...
265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0,Cuba
214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0,Czech Republic
88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0,People's Republic of China
900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0,Vietnam
711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0,South Africa

In [38]:
SIN_mask = rio['nationality'] == 'SIN'
rio.loc[SIN_mask, 'Nation'] = 'Singapore'

LIB_mask = rio['nationality'] == 'LIB'
rio.loc[LIB_mask, 'Nation'] = 'Lebanon'

In [39]:
rio.to_csv('./data/rio_athletes.csv')